.topbar-logo {
    width: 80px;
}

.topbar-name {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 2em;
    vertical-align: middle;
    font-family: 'Courier New', Courier, monospace;
    
}

.topbar-search {
    border-radius: 35px;
    min-width: 275px;
    margin-left: 30px;
    border-color: transparent;
    font-size: 18px;
    padding-left: 20px;
    background-color: #ded3e4;
    background-image: url('./../../assets/magnifying-glass-icon.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    height: 40px;
    margin-top: 10px;
}
.topbar-logo{
    margin-left: 30px;
}