.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 500px;
  margin: 40px auto; 
  padding: 20px;
  position: relative;
  min-height: 80vh; 
  gap: 1px; 
}

.create-post {
  width: 100%;
}

.posts-section {
  width: 100%;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}


