body{
    background-image: linear-gradient(#463961, #102542);
    background-attachment: fixed;
}
.padre{
    display: flex;
    align-items: center;
    height: 100%;
    
}

.card{
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
   
}

.estilo-profile{
    border-radius: 20%;
    height: 80px;
    width: 120px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cajaTexto{
    background-color: #cccccc40;
    border-color: slategray;
    border-radius: 30px;
    width: 100%;
    padding: 15px;
    border-width: 0px;
    margin-bottom: 20px;
}

.cajaTexto:focus{
    outline: 1px solid plum;
    box-shadow: 0 0 14px plum;
}

.btnForm{
    background-color: #B0619E;
    border-color: slategray;
    border-radius: 30px;
    width: 100%;
    padding: 10px;
    border-width: 0px;
    margin-bottom: 20px;
    color: white;
    font-size: large;
}

.texto{
    font-size: 20px;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
}

.btnswitch{
    background-color: transparent;
    border-radius: 30px;
    padding: 2px;
    border-width: 0px;
    color: #e574bc;
    font-size: 20px;
}
.forgot{
    color: #e574bc;
}

#email::placeholder{
    color: #B0619E;
}

#password::placeholder{
    color: #B0619E;
}

#email, #password{
    color: white;
}