.login-container {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  .login-container h2 {
    color: white;
    margin-bottom: 20px;
  }
  
  .image{
    border-radius: 20%;
    height: 80px;
    width: 120px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .login-container input {
    background-color: #cccccc40;
    border-color: slategray;
    border-radius: 30px;
    width: 90%;
    padding: 15px;
    border-width: 0px;
    margin-bottom: 20px;
    color: white;
  }
  
  .login-container input:focus {
    outline: 1px solid plum;
    box-shadow: 0 0 14px plum;
  }
  
  .login-container button {
    background-color: #B0619E;
    border-color: slategray;
    border-radius: 30px;
    width: 100%;
    padding: 10px;
    border-width: 0px;
    margin-bottom: 20px;
    color: white;
    font-size: large;
  }
  
  .login-container button.google-login {
    background: #db4437;
  }
  
  .login-container .forgot-password {
    color: white;
    cursor: pointer;
    margin-top: 10px;
    display: block;
  }
  
  .login-container .forgot-password:hover {
    text-decoration: underline;
  }
  
  #email::placeholder{
    color: #B0619E;
  }
  
  #password::placeholder{
    color: #B0619E;
  }